<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BioDatabase</title>
<link rel="stylesheet" type="text/css" href="../static/css/files.css">
</head>
<body>

    <div class="header">
      <h1>生物医学数据库课程网</h1>
    </div>
    
    <div class="topnav">
      <a href={{url_for('index')}}>首页</a>
      <a href={{url_for('showSyllabus')}}>大纲</a>
      <a href="#">讲义</a>
      <a class="about" href="#" >关于</a>
    </div>
    
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <p>Filename<input type="text" name="filename" /></p>
            <p><input type="file" name="file" accept="" /></p>
            <p><input type="submit" /></p>
          </form>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>生物信息学院</h2>
          <div>
            <img src="../static/img/logo.jpg">
          </div>
        </div>
        <div class="card">
          <h3>友情链接</h3>
          <div><a href="http://www.cqupt.edu.cn" id = 'link'>重庆邮电大学</a>
          </div>
          <div><a href="https://www.ncbi.nlm.nih.gov/" id = 'link'>NCBI</a>
          </div>
          <div><a href="https://pubmed.ncbi.nlm.nih.gov/" id = 'link'>Pubmed</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <h2>期待明年再见</h2>
      <p>生物医学数据库是以一门以生物学数据为基础的学科，采用Flask等网站开发技术，促使学生理解并掌握生物学的数据库构建方法</p>
    </div>
    
    </body>
    </html>